html {
	font-family: 'PT Sans Caption', sans-serif;
	font-size:20px;
	line-height:1.5;
}
/*
font-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;
*/
body {
	background:#F7F7FF;
	color: black;
	font-size:0,5rem;
	text-align:center; 
}
a {
	color:blue;
	text-decoration: none;
}
h1 {
	font-size:2.5rem;
	line-height: 1.2;
}
h2 {
	font-size:2rem;
	line-height: 1.2;
}
h3 {
	font-size:1.5rem;
	line-height:1.2;
}
h4 {
	font-size:1rem;
	line-height:1.2;
}
h5 {
	font-size:0.5rem;
	line-height:1.2;
}
h6 {
	font-size:0.2rem;
	line-height:1.2;
}
.right {
	text-align:right;
}
.left {
	text-align:left;
}
.center {
	text-align:center;
}
.menu {
	display: block;
	width: 100%;
	height: 85px;
	border-bottom: 2px solid black;
}
.menu a:hover{
	background:#D5D5D5;
}
#polzovatelskoe-soglasie{
	
}
.menu a{
	color:black;
}
#name {
	position: absolute;
	display:inline-block;
	width:10%;
	height: 83px;
	top:0px;
	/*bottom:2%;*/
	left:0px;
}
#profile {
	position: absolute;
	display:inline-block;
	width:11%;
	height: 83px;
	top: 0px;
	/*bottom:5%;*/
	right:0px;
}
#registration-button{
	width:40%;
	height:50px;
	border-radius:3px;
}
#registration-button:hover{
	background:#D5D5D5;
}
.registration-p{
	padding: 5px;
}
#registration-checkbox{
	width:4%;
	height:20px;
	transform:translateY(-25%);
}
.menu-block{
	position: relative;
	display:inline-block;
	width:20%;
	height: 83px;
	top:0px;
	/*bottom:5%;*/
}
.form:focus {
	background:lightyellow;
	border-color:blue;
	outline:none;
}
.foot {
	position: relative;
	padding-top: 20px;
	height: 625px;
	background: #040017;
	color:#FFBD00;
}
.foot div a {
	padding: 6px 8px 6px 16px;
	display: block;
}
.first {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 70%;
	/*border-right: 3px solid #080C59;*/
	display: inline;
	text-align: center;
}
.first h3 { margin-bottom: 30px; }
.second {
	position: absolute;
	left: 30%;
	top: 0px;
	right: 30%;
	/*border-right: 3px solid #080C59;*/
	display: inline;
	text-align: center;
}
.second h3 { margin-bottom: 30px; }
.third {
	position: absolute;
	left: 70%;
	top: 0px;
	right: 0px;
	display: inline;
	text-align: center;
}
.third h3 { margin-bottom: 30px; }
.info {
	position: absolute;
	display: block;
	bottom: 0px;
	width: 100%;
	text-align: left;
	color: white;
	padding: 30px 20px;
}
.main-site {
	background:#F7F7FF;
}
.registration {
	background:white;
	width:50%;
	margin:100px 25% 200px;
	border:1px solid #F7F7FF;
	padding:10px;
	border:1px solid #E2E2DC;
	border-radius:10px;
}
.blog-section {
	width:30%;
	margin:10px;
	border: 1px solid #E2E2DC;
	border-radius:10px;
	display: inline-block;
	background:white;
	color:black;
}
.blog-button {
	width:30%;
	height:250px;
	margin:10px;
	padding:0px;
	display:inline-block;
	transform:translateY(-45%);
	background:white;
	color:black;
	border: 1px solid #E2E2DC;
	border-radius:10px;
}
#blog-form{
	display:inline;
	margin:0px;
	padding:0px;
}
#blog-header {
	background:white;
	color:black;
	border:1px solid #E2E2DC;
	border-radius:10px;
	height:100px;
	margin:0px 30px;
}
#blog-header h2 {
	/*transform:translateY(+50%);*/
}